<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mute.winter.core">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <!-- about -->
        <activity android:name="com.mute.winter.core.modules.about.AboutActivity"/>

        <!-- private policy -->
        <activity android:name=".modules.private_policy.PrivatePolicyActivity"/>

    </application>

</manifest>
